.testTitle, .testCard, .mainTitle {
    border-radius: 2px;
    padding: 5px;
    word-break: break-all;
    word-wrap: break-word;
}

.testTitle {
    margin-top: 0;
}

.mainTitle {
    margin-bottom: 0;
    padding-bottom: 0px;
}

.testItem {
    cursor: pointer;
    padding-left: 5px;
    clear: both;
    line-height: 30px;
}

.testItem .selectItem {
    word-break: break-all;
    word-wrap: break-word;
    padding-left: 25px;
}

.fabox {
    float: left;
}
